@use './variables' as *;

header {
    background-color: $color-dark;
    .container {
        
        .navbar-brand {
    
            color: $color-primary;
            font-size: 2rem;
            font-weight: bold;
    
        }
        .navbar-toggler {
            border-color: $color-primary !important;
            &:focus {
                box-shadow: none;
            }
        }
    }
}