@use './variables' as *;

#resultCounter {
    color: $color-light;
    display: inline-block;
    font-weight: normal;
    font-size: $text-sm;
    text-decoration: 2px underline $color-primary;
    text-underline-offset: 3px;
}

#film-section,
#series-section
{
    h2 {
        display: inline-block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $color-light;
        text-decoration: 2px underline $color-primary;
        text-underline-offset: 3px;
    }
}