@use './variables' as *;

#more-info-panel {
    background-color: $color-dark;
    color: $color-light;
    top: 0;
    left: 0;
    z-index: 150;

    span.fw-bold {
        font-size: $text-sm;
        margin-right: 1rem;
    }

    #item-name,
    #item-overview,
    #item-vote,
    #item-original-name,
    #item-genres {
        p {
            margin-bottom: 0;
        }
    }

    #item-overview,
    #item-vote {
        span {
            color: $color-light;
            border-bottom: 1px solid $color-primary;
        }

        .star {
            color: $color-light;
            border-bottom: none;
        }
    }

    #item-genres {

        font-size: $text-sm;

        span {
            color: $color-light;
            border-bottom: 1px solid $color-primary;
        }
    }

    #item-name {
        p {
            font-size: $text-md;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
        }

        border-bottom: 1px solid $color-primary;
    }

    #item-original-name {
        p {
            font-size: $text-sm;
            font-style: italic;
        }
    }

    #item-overview {
        p {
            text-align: justify;
            font-size: $text-sm;
        }
    }

    #show-more-action button,
    #exit-button {
        background-color: $color-dark-light;
        color: $color-light;

        &:hover {
            border-color: $color-primary;
        }
    }


    #items-cast {
        span {
            border-bottom: 1px solid $color-primary;
        }
        p {
            span {
                font-size: $text-sm;
                border: none;
            }
        }
    }
}

.card {
    aspect-ratio: 1 / 1.5;
    cursor: pointer;
    background-color: $color-dark;
    //border-color: $color-primary;
    transition: .25s all ease-in-out;
    border: none;

    &:hover {
        box-shadow: 0 0 4rem $color-primary;

        .card-img-overlay {
            display: block;
        }

        img {
            filter: brightness(40%);
        }
    }


    .card-img {
        aspect-ratio: 1 /1.5;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .card-img-overlay {
        display: none;
        max-height: 100% !important;
        max-width: 100% !important;
        color: $color-light;
        overflow-y: auto;

        span.fw-bold {
            font-size: $text-sm;
            margin-right: 1rem;
        }

        #item-name,
        #item-overview,
        #item-vote,
        #item-original-name,
        #item-genres {
            p {
                margin-bottom: 0;
            }
        }

        #item-overview,
        #item-vote {
            span {
                color: $color-light;
                border-bottom: 1px solid $color-primary;
            }

            .star {
                color: $color-light;
                border-bottom: none;
            }
        }

        #item-genres {

            font-size: $text-sm;

            span {
                color: $color-light;
                border-bottom: 1px solid $color-primary;
            }
        }

        #item-name {
            p {
                min-height: 4rem;
                font-size: $text-md;
                font-weight: 600;
                text-transform: uppercase;
                text-align: center;
            }

            border-bottom: 1px solid $color-primary;
        }

        #item-original-name {
            p {
                font-size: $text-sm;
                font-style: italic;
            }
        }

        #item-overview {
            p {
                text-align: justify;
                font-size: $text-sm;
            }
        }

        #show-more-action {
            button {
                background-color: $color-dark-light;
                color: $color-light;

                &:hover {
                    border-color: $color-primary;
                }
            }
        }
    }
}